.container{
    background-color: #072805;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
}
.square{
    background-color: #ebe1c1;
    height: 472px;
    width: 990px;
    border-radius: 25px;
}